h3, p {
    margin: 0;
}

.parent-comp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.category-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.category-list label:hover { 
    font-weight: bold;
    cursor: pointer;
}
.category-list progress {
    align-self: center;
}
.category-label-checkbox {
    display: flex;
    align-items: center;
    width: 90%;
}
.category-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.category-item p { margin: 0;}



.server-status-response {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.server-status-connected {
    color: green;
}
.server-status-notConnected {
    color: red;
}